

.button {
   
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;

   
   

    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-effect: dropshadow(one-pass-box, black, 3, 0, 2, 2);
    -fx-padding: 8 16 8 16;
}
